:root {
  /* Typography */
  --font-family: "Poppins", sans-serif;
  --font-normal: 400;
  --font-semibold: 700;
  --font-bold: 800;

  /* Colors */
  --color-purple: hsl(259, 100%, 65%);
  --color-light-red: hsl(0, 100%, 67%);
  --color-white: hsl(0, 0%, 100%);
  --color-off-white: hsl(0, 0%, 94%);
  --color-light-gray: hsl(0, 0%, 86%);
  --color-smokey-gray: hsl(0, 1%, 44%);
  --color-off-black: hsl(0, 0%, 8%);
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--color-off-white);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  padding: 0 15px;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  border-radius: 15px 15px 100px 15px;
  padding: 15px;
  box-shadow: 0 0 10px 2px rgba(226, 226, 226, 0.2);
}

.form-label {
  texttransform: "uppercase";
  fontweight: 700;
  letterspacing: "0.04em";
}

.form-input {
  flex-basis: 120px;
  font-size: 20px;
  font-weight: var(--font-bold);
}

.form-input:hover {
  border: 1px solid var(--color-smokey-gray);
}

.date {
  font-size: 45px;
  font-weight: bold;
  color: var(--color-off-black);
  font-style: italic;
}

.image-submit {
  margin-top: 30px;
  border-bottom: 1px solid rgba(230, 230, 230, 0.815);
  justify-content: center;
}

.img-button {
  background-color: var(--color-purple);
  border: none;
  margin-bottom: -20px;
}

.date-dynamic {
  color: var(--color-purple);
}

.date-space {
  margin-left: 15px;
}

.error-msg {
  color: var(--color-light-red);
  font-size: 10px;
  font-weight: var(--font-semibold);
  margin-top: 5px;
  letter-spacing: 0.04em;
}

.time-btn {
  outline: none;
  border: none;
  padding: 4px;
  width: 60px;
  font-size: 24px;
  font-weight: var(--font-bold);
  color: var(--color-off-black);
  background-color: var(--color-light-gray);
  border-radius: 4px;
}

.time-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0;
}

.time-col strong {
  font-size: 12px;
  margin-top: 5px;
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 10px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 768px) {
  body {
    padding: 0;
  }
  .container {
    width: 600px;
    padding: 30px;
  }

  .image-submit {
    justify-content: flex-end;
  }

  .form-input {
    font-size: 24px;
  }

  .date {
    font-size: 64px;
  }
}
